@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
  --purple: #0092be;
  --blue: #17a2b8;
  --pink: #76bcbc;
  --gradient: linear-gradient(90deg, var(--purple), var(--pink));
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

*::selection {
  background: var(--pink);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

marquee {
  margin-top: 100px;
  background-color: #0092be;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

body {
  background: #f9f9f9;
}

section {
  min-height: 100vh;
  padding: 0 9%;
  margin-top: 20px;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  background: var(--gradient);
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.btn:hover {
  transform: scale(1.1);
}

.heading {
  text-align: center;
  background: var(--gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem;
  margin-top: 30px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  display: flex; /* Menggunakan flexbox agar elemen logo dan teks berada dalam satu baris */
  align-items: center; /* Posisikan elemen secara vertikal di tengah */
  text-decoration: none;
  color: white;
  font-size: 23px;
}

header .logo span {
  color: var(--pink);
}

header .logo img {
  height: 60px;
  margin-right: 18px;
}

header .navbar a {
  font-size: 1.7rem;
  margin-left: 2rem;
  color: var(--purple);
}

header .navbar a:hover {
  padding: 10px;
  border-radius: 10px;
  background: var(--blue);
  color: #fff;
}

header .navbar .active {
  padding: 10px;
  border-radius: 12px;
  background: var(--blue);
  color: #fff;
}

header input {
  display: none;
}

header label {
  font-size: 3rem;
  color: var(--purple);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.home {
  margin-top: -95px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/home-bg-img.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .image img {
  width: 40vw;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}

.home .content h3 {
  font-size: 5.5rem;
  color: #333;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--pink);
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.layanan .box-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin: -1.5rem;
}

.layanan .box-container .box {
  flex: 1;
  background: #fff;
  border-radius: 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  margin-top: 30px;
  padding: 2rem;
  text-align: center;
  transition: 0.2s linear;
  box-sizing: border-box;
}

.layanan .box-container .box:hover {
  box-shadow: 0px 8px 28px rgba(1, 1, 1, 0.15);
  border-radius: 8px;
}

.layanan .box-container .box img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.layanan .box-container .box h3 {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}

.layanan .box-container .box p {
  font-size: 1.3rem;
  color: #666;
  padding: 1rem 0;
}

.card {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
  font-size: 18px;
  color: #da082e;
}

.card p {
  margin-bottom: 0;
  color: #555;
}

.card a {
  color: #17a2b8;
  text-decoration: underline;
  transition: transform 0.3s ease;
}

.card a:hover {
  color: #da082e;
}
/* Section 2 */
.section-2 {
  width: 100%;
  padding: 1rem 0 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.section-2-heading {
  font-size: 5rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 3rem;
}

.services {
  display: flex;
}

.service {
  text-align: center;
  margin: 0 5rem;
}

.service i {
  font-size: 6rem;
  color: #229fe7;
  margin: 2rem 0;
}

.service .service-heading {
  font-size: 3rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 1rem;
}

.service-paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  color: #666;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.service-btn {
  width: 20rem;
  padding: 1.5rem;
  background-color: transparent;
  border-radius: 3rem;
  border: 0.1rem solid #036bb1;
  color: #036bb1;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
/* End of Section 2 */

/* Section 4 */
.section-4 {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4-heading {
  font-size: 5rem;
  font-weight: 400;
  color: #444;
  margin-bottom: 5rem;
}

.section-4-content {
  display: flex;
}

.section-4-img-wrapper {
  width: 50rem;
}

.section-4-img-wrapper img {
  width: 100%;
  opacity: 0.8;
}

.section-4-list {
  width: 55%;
  margin-top: 2rem;
}

.section-4-list-item {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.number {
  width: 3.5rem;
  height: 3.5rem;
  border: 0.1rem solid #555;
  border-radius: 50%;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4-list-item a {
  color: #036bb1;
  font-weight: bold;
}
/* End of Section 4 */

.about {
  background: url(./images/about-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
}

.about .column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .column .image {
  flex: 1 1 40rem;
}

.about .column .image img {
  width: 100%;
}

.about .column .content {
  flex: 1 1 40rem;
  margin-left: 20px;
}

.about .column .content h3 {
  font-size: 3rem;
  color: #666;
}

.about .column .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.about .column .content .buttons a:last-child {
  margin-left: 2rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.contact h1 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
  color: #17a2b8;
}

.contact span,
p,
label {
  font-size: 15px;
  text-transform: none;
}

.contact .image {
  flex: 1 1 40rem;
}

.contact .image img {
  width: 100%;
  padding: 2rem;
}

.contact form {
  flex: 1 1 40rem;
  padding: 2rem 3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #fff;
}

.contact form .heading {
  text-align: left;
  padding: 0;
  padding-bottom: 2rem;
}

.contact form .inputBox {
  position: relative;
}

.contact form .inputBox input,
.contact form .inputBox textarea {
  width: 100%;
  background: none;
  color: #666;
  margin: 1.5rem 0;
  padding: 0.5rem 0;
  font-size: 1.7rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-transform: none;
}

.contact form .inputBox textarea {
  resize: none;
  height: 13rem;
}

.contact form .inputBox label {
  position: absolute;
  top: 1.7rem;
  left: 0;
  font-size: 1.7rem;
  color: #666;
  transition: 0.2s linear;
}

.contact form .inputBox input:focus ~ label,
.contact form .inputBox input:valid ~ label,
.contact form .inputBox textarea:focus ~ label,
.contact form .inputBox textarea:valid ~ label {
  top: -0.5rem;
  font-size: 1.5rem;
  color: var(--pink);
}

.footer {
  padding-top: 3rem;
  background: url(images/footer-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2rem;
}

.footer .box-container .box h3 {
  font-size: 20px;
  padding: 1rem 0;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #eee;
  text-transform: none;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #eee;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
  transform: translateX(5px);
}

.footer .box-container .box .info {
  display: flex;
  align-items: center;
}

.footer .box-container .box .info i {
  margin: 0.5rem 0;
  margin-right: 1rem;
  border-radius: 50%;
  background: #fff;
  color: var(--pink);
  font-size: 1.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
}

.footer .credit {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: #fff;
  border-top: 0.1rem solid #fff5;
  padding: 2.5rem 1rem;
  text-align: center;
}

.footer .credit a {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: #fff;
  border-top: 0.1rem solid #fff5;
  padding: 2.5rem 1rem;
  text-align: center;
}

.footer .credit a:hover {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: #fff;
  border-top: 0.1rem solid #fff5;
  padding: 2.5rem 1rem;
  text-align: center;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #fff;
}

/* Responsive */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 0 3%;
    padding-top: 8rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.2s linear;
  }

  header .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
  }

  header input:checked ~ .navbar {
    transform: scaleY(1);
    opacity: 1;
  }

  header input:checked ~ label::before {
    content: "\f00d";
  }

  .home {
    flex-flow: column-reverse;
  }

  .home .image img {
    width: 100%;
  }

  .home .content h3 {
    font-size: 3.6rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }

  .about {
    background-position: right;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .about .column .content .buttons a {
    width: 100%;
    text-align: center;
  }

  .about .column .content .buttons a:last-child {
    margin: 1rem 0;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 45%;
  }

  .section-2 {
    padding: 5rem 0;
  }

  .section-4 {
    padding: 5rem 0;
  }

  .section-2-heading {
    width: 80%;
    text-align: center;
    line-height: 1.2;
  }

  .services {
    align-items: center;
  }

  .service {
    width: 100px;
    margin: 0 2rem;
  }

  .service i {
    font-size: 4rem;
  }

  .service-btn {
    width: 15rem;
    padding: 1rem;
  }
}

@media (max-width: 1000px) {
  .section-4-content {
    flex-direction: column;
    align-items: center;
  }

  .section-4-img-wrapper {
    margin: auto;
  }

  .section-4-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .section-4 {
    padding: 5rem 0;
  }

  .section-4-heading {
    font-size: 3rem;
  }

  .section-4-content {
    width: 100%;
    padding: 0 1rem;
  }

  .section-4-img-wrapper {
    display: none;
  }

  .section-4-list {
    align-items: flex-start;
  }
}

/* End of Responsive */
